<%#左上プロフィール%>
<div>
<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<div>
  <label>Name</label>
  <%= user.name %>
</div>
<div>
  <label>Introduction</label>
  <%= user.introduction %>
</div>
  <%= link_to "プロフィール編集",edit_user_path(current_user.id) %>
</div>
