<%#左上プロフィール%>
<%#= render 'users/list', user: @user %>

<%#左下book/新規作成%>
<%= render 'new', book: @book %>


<h2>Book detail</h2>

  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
<% if @book.user == current_user %>
  <%= link_to "destroy", books_path, method: :delete %>
<% end %>